<div id="viewVehicleTripsPage">
    <h2>All Trips Page</h2>
    <p>Here you can view the all trips</b>
    </p>

    <br> {{#if success_msg}}
    <div class="alert alert-success">{{success_msg}}</div>
    {{/if}} {{#if error_msg}}
    <div class="alert alert-danger">{{error_msg}}</div>
    {{/if}}

    <table class="table table-condensed" id="tripsTable">
        <thead>
            <tr>
                <th>#</th>
                <th>Driver</th>
                <th>Start date</th>                
                <th>Stop date</th>
                <th>Start location</th>
                <th>Stop location</th>
                <th>Trip distance</th>
                <th>Trips</th>
            </tr>
        </thead>
        <tbody>
            {{#each items}}
            <tr>
                <td data-label="#"><b>{{inc @index}}</b></td>
                <td data-label="Driver">{{ this.driver.firstName }} {{ this.driver.lastName }}</td>
                <td data-label="Start date">{{convertDate this.startDate }} {{convertTime this.startDate }}</td>
                <td data-label="Stop date">{{convertDate this.stopDate }} {{convertTime this.stopDate }}</td>
                <td data-label="Start location" onclick="showLocation(this.innerHTML)" onmouseover="" style="cursor: pointer;">{{ this.startLocation.lat }}, {{ this.startLocation.long }}</td>
                <td data-label="Stop location" onclick="showLocation(this.innerHTML)" onmouseover="" style="cursor: pointer;">{{ this.stopLocation.lat }}, {{  this.stopLocation.long }}</td>
                <td data-label="Trip distance (km)">{{ this.distance }}</td>
                <td data-label="Trips">
                    <p class="operations" data-placement="top" data-toggle="tooltip" title="View trip">
                        <button class="btn btn-success btn-md" data-toggle="modal" data-title="View trip" onclick="initMap('{{ this.tripId }}')">
                            <span class="glyphicon glyphicon-road"></span>
                        </button>
                    </p>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>

    <div class="modal" id="viewTripModal" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span></button>
                    <h4 class="modal-title custom_align" id="Heading">Vehicle Trip</h4>
                </div>
                <div class="modal-body">
                    <div id="mapCanvas"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success center-block" data-dismiss="modal" align="center"><span></span>Close</button>
                </div>
            </div>
        </div>
    </div>
</div>